/*––––––––––––––––––––––Mobil version–––––––––––––––––––*/

.gmap_canvas {
  display: flex;
}

.find {
  margin: 50px;
  margin-bottom: 20px;
  margin-bottom: 60px;
}

h1 {
  padding-top: 20px;
}
.infocontainer {
  margin-top: 40px;
  margin-bottom: 30px;
}

.infocontainer div {
  margin-bottom: 20px;
}

.form-felt {
  margin-top: 25px;
}

.form-felt button {
  background-color: rgba(
    51,
    51,
    51,
    0.05
  );
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 20px;
}

.form-felt button:focus {
  background-color: var(--color3);
  background: linear-gradient(
    135deg,
    rgba(83, 26, 3, 0.14),
    rgba(251, 132, 47, 0.444)
  );
}

input {
  background-color: rgba(
    51,
    51,
    51,
    0.05
  );
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 10px 12px;
}

/* Styling af blade m. css animationer */
/* .blad_top_container {
  width: 100%;
  aspect-ratio: 2/3;
  position: absolute;
  top: -10rem;
  left: -5rem;
  transform: rotate(-1deg);
  z-index: -1;
}

.blad_top_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/blad_top.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.blad_bottom_container {
  width: 208%;
  aspect-ratio: 2/3;
  position: absolute;
  top: 15rem;
  left: -20rem;
  transform: rotate(-1deg);
  z-index: -1;
}

.blad_bottom_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/blad_bottom.svg);
  background-size: 100%;
  background-repeat: no-repeat;
} */

/*––––––––––––––––I-pad version–––––––––––––––––*/

@media (min-width: 768px) {
  .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 2rem;
  }
  .find p:nth-of-type(1) {
    margin-top: 20px;
  }

  .find {
    display: grid;
    place-self: center;
  }

  .infocontainer {
    display: flex;
    gap: 70px;
    margin-bottom: 0px;
  }

  .find h3 {
    margin-bottom: 10px;
  }

  .find p {
    margin-bottom: 5px;
  }

  .gmap_canvas {
    display: flex;
    align-items: stretch;
  }
  .form-felt {
    display: flex;
    gap: 10px;
  }
}

/* Styling af blade m. css animationer */
/* .blad_top_container {
    width: 50%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 8rem;
    left: 15rem;
    transform: rotate(-13deg);
    z-index: -1;
  } */

/* .blad_bottom_container {
    width: 60%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 24rem;
    left: -22rem;
    transform: rotate(1deg);
    z-index: -1;
  }



/*––––––––––––––––Desktop version–––––––––––––––––*/
@media (min-width: 1000px) {
  */ .gmap_canvas {
    display: flex;
    place-self: end;
  }
}

/* Styling af blade m. css animationer */
/* .blad_top_container {
    width: 50%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 4rem;
    left: 35rem;
    transform: rotate(-15deg);
    z-index: -1;
  }

  .blad_bottom_container {
    width: 41%;
    aspect-ratio: 2/3;
    position: absolute;
    top: 17rem;
    left: -26rem;
    transform: rotate(1deg);
    z-index: -1;
  } }
