* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------------- HEADER MOBIL START -------------------------- */
.burger_header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 20px;
}
.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 70px;
  color: #f48520;
  z-index: 3;
}
header span {
  width: 60%;
  grid-column: 3/4;
  place-self: center end;
}

header img {
  width: 100%;
}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  right: 0;
  top: 0;

  background-color: #ffff; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.desk_logo {
  visibility: hidden;
  width: 0%;
  height: 0%;
  margin: 0%;
}

.overlay_content {
  height: 70vh;
  display: grid;
  place-content: center;
  padding-top: 40px;
}
nav.overlay_content ul li {
  list-style: none;
}
.overlay_content ul li a {
  font-size: 30px;
  text-align: left;
}
.burger_header span img {
  position: fixed;
  width: 12%;
  top: 7%;
  z-index: 2;
}

/* --------------------------- HEADER MOBIL SLUT -------------------------- */

/* --------------------------- FOOOTER IPAD + DESKTOP START -------------------------- */

header {
  background-color: #ffff;
  /* overflow: hidden; */
}

@media (min-width: 1000px) {
  #myNav.overlay {
    height: 20vh;
  }

  li a {
    font-size: 30px;
    /* margin: 30px; */
    font-weight: lighter;
  }

  nav.overlay_content img {
    width: 70%;
    margin: 0%;
    padding-bottom: 20px;
  }
  nav.overlay_content {
    padding-top: 1rem;
    /* height: 20vh; */
  }
}

@media (min-width: 768px) {
  #myNav.overlay {
    width: 100%;
    position: relative;
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  .overlay_content {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 100%;
    padding-top: 0%;
    height: 17vh;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    overflow: hidden;
  }

  .nav_left {
    grid-column: 1/2;
    place-self: start end;
    margin-top: 10px;
  }

  .nav_right {
    grid-column: 3/4;
    place-self: start start;
    margin-top: 10px;
  }
  li {
    float: left;
    margin-top: 30px;
  }

  .overlay_content ul li a {
    font-size: 25px;
    margin: 20px;
    font-weight: lighter;
  }

  .overlay_content img.desk_logo {
    grid-column: 2/3;
    place-self: center;
    width: 100%;
    height: 100%;
    z-index: 99;
    visibility: visible;
  }

  .burger_header {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
  .overlay .closebtn {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
  header span {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  .burger_header img {
    visibility: hidden;
  }
}

/* --------------------------- FOOOTER IPAD + DESKTOP START -------------------------- */

/* --------------------------- FOOOTER MOBIL START -------------------------- */
footer {
  background-color: white;
}

.foot_logo {
  display: flex;
  justify-content: center;
  width: auto;
  padding-top: 20px;
}

.foot_logo img {
  width: 20vh;
}

.foot_icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

.foot_icon img {
  width: 4vh;
}

.foot_txt {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* ------------------------ FOOOTER MOBIL SLUT---------------------------- */

img {
  width: 100%;
}
html {
  --color1: #fff5e1;
  --color2: #f7d67f;
  --color3: #f48520;
  --color4: #faedea;
  --color5: #f4acac;
  --color6: #cbe0fc;
  --color7: #6362ac;
  --color8: #d8e2ae;
  --color9: #94b7a2;
  --color10: #ba2021;
}

h1,
h2,
h3 {
  font-family: monarcha, serif;
  font-weight: lighter;
}

p {
  font-family: degular, sans-serif;
  font-weight: lighter;
}

a {
  font-family: degular, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000;
  text-align: right;
  display: block;
  margin: 10px 10px 30px 0px;
  font-size: 1.1rem;
}
a:hover {
  color: var(--color3);
}

@media (min-width: 1080px) {
  .foot_logo img {
    width: 35vh;
  }
  .foot_icon {
    gap: 50px;
    margin: 20px;
  }
  .foot_icon img {
    width: 10vh;
  }
  .foot_txt {
    gap: 50px;
  }
}
