* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------------- HEADER MOBIL START -------------------------- */
header {
  position: sticky;
  top: 0%;
  z-index: 2;
}

.burger_header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 10px;
}
.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 70px;
  color: #f48520;
  z-index: 3;
}
header span {
  width: 60%;
  grid-column: 3/4;
  place-self: center end;
}

header img {
  width: 50%;
}

.burger_logo img {
  width: 80%;
}
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  right: 0;
  top: 0;

  background-color: #ffff; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.logo_container {
  width: 30%;
  aspect-ratio: 2/3;
  position: absolute;
  top: 2rem;
  left: 8rem;
  z-index: -1;
}

.logo_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/orange_logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.burgerblad_top_container {
  width: 130%;
  aspect-ratio: 2/3;
  position: absolute;
  top: 1rem;
  left: 5rem;
  transform: rotate(-1deg);
  z-index: -2;
  overflow: hidden;
}

.burgerblad_top_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/blad_top.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.burgerblad_bottom_container {
  width: 159%;
  aspect-ratio: 2/3;
  position: absolute;
  top: -8rem;
  left: -28rem;
  transform: rotate(112deg);
  z-index: -2;
}

.burgerblad_bottom_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/blad_bottom.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.burgerblad_right_container {
  width: 122%;
  aspect-ratio: 2/3;
  position: absolute;
  top: 21rem;
  left: 16rem;
  transform: rotate(279deg);
  z-index: -2;
}

.burgerblad_right_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/blad_right.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.desk_logo {
  visibility: hidden;
  width: 0%;
  height: 0%;
  margin: 0%;
}

ul.nav_left {
  display: grid;
  gap: 10px;
  padding-top: 85px;
}
ul.nav_right {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}
.overlay_content {
  height: 100%;
  display: grid;
  place-content: center;
}
nav.overlay_content ul li {
  list-style: none;
}
.overlay_content ul li a {
  font-size: 30px;
  text-align: center;
  margin-bottom: 17px;
}
.burger_header span img {
  position: fixed;
  width: 11%;
  top: 3%;
  z-index: 2;
}

/* --------------------------- HEADER MOBIL SLUT -------------------------- */

/* --------------------------- FOOOTER IPAD + DESKTOP START -------------------------- */

header {
  background-color: #ffff;
  overflow: hidden;
}
@media (min-width: 1000px) {
  .overlay_content {
    padding-left: 0%;
  }
  nav.overlay_content {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .overlay_content ul.nav_left {
    gap: 60px;
  }
  .overlay_content ul.nav_right {
    gap: 60px;
  }
}

@media (min-width: 768px) {
  #myNav.overlay {
    width: 100%;
    position: relative;
    overflow: hidden; /* Disable horizontal scroll */
  }

  .overlay_content {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    width: 100%;
    padding-top: 0%;
    /* height: 12vh; */
    padding-left: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    overflow: hidden;
  }

  ul.nav_left {
    grid-column: 1/2;
    place-self: start end;
    margin-top: 10px;
    display: flex;
    gap: 0;
    padding: 0%;
    place-self: end;
  }

  ul.nav_right {
    grid-column: 3/4;
    place-self: start start;
    margin-top: 10px;
    display: flex;
    gap: 0;
    padding: 0%;
    place-self: end start;
  }

  .overlay_content ul li a {
    font-size: 25px;
    margin: 20px;
  }

  .overlay_content img.desk_logo {
    grid-column: 2/3;
    place-self: start center;
    width: 40%;
    height: 100%;
    z-index: 99;
    visibility: visible;
  }

  /* Mobil forside logo skjul */
  .burger_header {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  /* mobil luk knap i burgermenu skjul */
  .overlay .closebtn {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  /* mobil åbenknap i burgermenu skjul */
  header span {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  /* mobil logo i åben burger skjul */
  .burger_logo {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  /* mobil blade i åben burger skjul */
  .burger_blade {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  .burgerblad_top_container {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
  .burgerblad_top_sprite {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }

  .burgerblad_bottom_container {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
  .burgerblad_bottom_sprite {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
  .burgerblad_right_container {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
  .burgerblad_right_sprite {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
  }
}

/* --------------------------- FOOOTER IPAD + DESKTOP START -------------------------- */

/* --------------------------- FOOOTER MOBIL START -------------------------- */
footer {
  background-color: white;
  margin-bottom: 20px;
}

.foot_logo {
  display: flex;
  justify-content: center;
  width: auto;
  padding-top: 20px;
}

.foot_logo img {
  width: 15vh;
}

.foot_icon {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

.foot_icon img {
  width: 4vh;
}

.foot_txt {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* ------------------------ FOOOTER MOBIL SLUT---------------------------- */

img {
  width: 100%;
}
html {
  --color1: #fff5e1;
  --color2: #f7d67f;
  --color3: #f48520;
  --color4: #faedea;
  --color5: #f4acac;
  --color6: #cbe0fc;
  --color7: #6362ac;
  --color8: #d8e2ae;
  --color9: #94b7a2;
  --color10: #ba2021;
}

h1,
h2,
h3 {
  font-family: monarcha, serif;
  font-weight: lighter;
}

p,
li {
  font-family: degular, sans-serif;
  font-weight: lighter;
}

a {
  font-family: degular, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #000;
  text-align: right;
  display: block;
  margin: 10px 10px 30px 0px;
  font-size: 1.1rem;
}
a:hover {
  color: var(--color3);
}

@media (min-width: 1080px) {
  .foot_logo img {
    width: 20vh;
  }
  .foot_icon {
    gap: 30px;
    margin: 20px;
  }
  .foot_icon img {
    width: 5vh;
  }
  .foot_txt {
    gap: 50px;
  }
}
