img img {
  width: 100%;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin: 20px;
}

.valgt {
  color: blue;
}
button {
  cursor: pointer;
}
