* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
html {
  --color1: #fff5e1;
  --color2: #f7d67f;
  --color3: #f48520;
  --color4: #faedea;
  --color5: #f4acac;
  --color6: #cbe0fc;
  --color7: #6362ac;
  --color8: #d8e2ae;
  --color9: #94b7a2;
  --color10: #ba2021;
}

h1,
h2,
h3 {
  font-family: monarcha, serif;
}

p {
  font-family: degular, sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

a {
  font-family: degular, sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  text-align: right;
  display: block;
  margin: 10px 10px 30px 0px;
}
a:hover {
  color: var(--color3);
}

/* ----------------IKONER-------------- */
#section_second .ikoner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto;
}
figcaption {
  font-family: degular, sans-serif;
  font-weight: bold;
}
.ikoner p {
  margin: 20px;
}
#money_2 {
  grid-column: 1/2;
  text-align: center;
}
#money_3 {
  grid-column: 1/2;
  text-align: center;
}
#shaker {
  grid-column: 2/3;
  grid-row: 1/2;
}
#shaker_2 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}
#shaker_3 {
  grid-column: 2/3;
  text-align: center;
}
#people {
  grid-column: 3/4;
  grid-row: 1/2;
}
#people_2 {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}
#people_3 {
  grid-column: 3/4;
  text-align: center;
}
/* ----------------KNAPPER-------------- */
.valgt {
  color: var(--color3);
  font-weight: bolder;
}
button {
  cursor: pointer;
  border-radius: 50px;
  border: 0.5px solid grey;
  box-shadow: 5px 5px 8px #cfcfcf;
  background-color: white;
  font-family: degular, sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  padding: 20px;
  margin: 5px;
  text-transform: uppercase;
}
button:hover {
  font-weight: bolder;
}
/* ----------------SEKTION 3 DRINKS-------------- */
#cocktail {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin: 20px;
}
#section_third {
  background-color: var(--color4);
}

#forside {
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 8px #cfcfcf;
  cursor: pointer;
}
#forside .kategori {
  color: var(--color10);
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: lighter;
}

#forside .navn {
  font-size: 2.2rem;
  font-weight: lighter;
}

/* ------------------SINGLEVIEW SIDE-------------------- */
#single_first {
  background-color: var(--color4);
  padding-top: 10rem;
}
#singleview {
  cursor: inherit;
  margin: 20px;
}
#singleview .navn {
  margin: 30px 20px 10px 20px;
  color: var(--color10);
}
#singleview .kategori {
  margin: 0px 20px 20px 20px;
  color: black;
  text-transform: inherit;
}
#singleview p {
  margin: 20px;
  padding: 10px 0px 70px 0px;
}

/* ------------------MOBIL------------------*/
/* #section_first {
  display: grid;
  grid-column: 1 / 4;
  width: 100%;
  height: 50vh;
  background-image: url(img/splash.webp);
  background-size: cover;
  background-position: 30%;
  transform: scale(3);
} */

/* ------------------IPAD------------------*/
@media (min-width: 768px) {
  #singleview {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    margin: 0%;
  }

  #singleview img {
    height: 100%;
    width: 70%;
  }

  /* #singleview .navn {
    margin: 30px 20px 10px 20px;
    color: var(--color10);
  }
  #singleview .kategori {
    margin: 0px 20px 20px 20px;
    color: black;
    text-transform: inherit;
  }
  #singleview p {
    margin: 20px;
    padding: 10px 0px 70px 0px;
  } */
}
/* ------------------DESKTOP------------------*/
